$cBeige: #504333;
$cBlack: #333333;
$cWhite: #ffffff;

$bg-primary: $cBeige;
$bg-primary-light: #f7f4f0;
$bg-white: $cWhite;
$border-white: $cWhite;
$font-primary: $cBeige;
$font-black: $cBlack;
$font-white: $cWhite;
$font-base: #5d5d5d;

$contentMaxWidth: 1080px;
$contentPadding: 0 18px;
$navHeight: 100px;
