$cBeige: #504333;
$cBlack: #333333;
$cWhite: #ffffff;

$bg-primary: $cBeige;
$bg-primary-light: #f7f4f0;
$bg-white: $cWhite;
$border-white: $cWhite;
$font-primary: $cBeige;
$font-black: $cBlack;
$font-white: $cWhite;
$font-base: #5d5d5d;

$content-width-s: 920px;
$content-width: 1080px;

$font-family-base: "Noto Serif JP", serif;
$font-family-en: "Montserrat", sans-serif;
