@use "../globals" as *;

/// ------------------------
// hero slider
// ------------------------

.hero {
  overflow: hidden;
  width: 100%;
  height: auto;

  &-inner {
    position: relative;
    box-sizing: content-box;
    margin: 0 auto;
  }
}
.swiper {
  padding: 40px 3rem 64px 3rem;
  overflow: visible;
  position: relative;

  &-img {
    width: 100%;
    height: 100%;

    & > img {
      margin: 0 auto;
      object-fit: cover;
    }
  }

  &-button-prev,
  &-button-next {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;

    // 矢印の丸部分
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    // 矢印部分
    &::after {
      border-color: $font-white;
    }

    &::after {
      width: 11px;
      height: 11px;
      content: "";
      border: solid $font-white;
      border-width: 2px 2px 0 0;
    }
  }

  &-button-prev {
    left: 2.5%;

    &::after {
      margin-left: 0.4rem;
      transform: rotate(-135deg);
    }
  }

  &-button-next {
    right: 2.5%;

    &::after {
      margin-right: 0.4rem;
      transform: rotate(45deg);
    }
  }
}

/// ------------------------
// Concept
// ------------------------
.top-concept {
  color: $font-white;
  // 複数画像設定OK -> 1つ目が上に来る
  background-image: url(../../images/pic-top-concept-treat.png),
    url(../../images/bg-top-concept-sp.jpg);
  background-position: bottom -20px right -50px, center;
  background-size: 200px, cover;
  background-repeat: no-repeat, no-repeat;

  @include mq(md) {
    background-image: url(../../images/pic-top-concept-treat.png),
      url(../../images/bg-top-concept.jpg);
    background-position: bottom -50px right -120px, center;
    background-size: 446px, cover;
  }

  &-copy {
    font-size: 18px;
    text-align: center;
    padding-left: 0.08em;
    margin-top: 24px;

    @include mq(md) {
      font-size: 30px;
    }

    & > span {
      display: block;

      @include mq(md) {
        display: inline-block;
      }
    }
  }

  &-text {
    max-width: 540px;
    text-align: center;
    padding-left: 0.08em;
    margin: 24px auto 0;
    line-height: 2;

    @include mq(md) {
      max-width: 100%;
      margin: 32px auto 0;
    }

    & > span {
      @include mq(md) {
        display: block;
      }
    }
  }

  &-gallery {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    gap: 24px;
    margin: 40px auto 0;

    @include mq(md) {
      grid-template-columns: repeat(4, 1fr);
      gap: 60px;
      margin-top: 140px;
    }
  }
}

/// ------------------------
// Product
// ------------------------
.top-product {
  background-color: $bg-primary-light;

  &-item {
    @include mq(md) {
      display: flex;
      align-items: center;
      padding: 0 18px;
    }

    @include mq(lg) {
      margin: 0 auto;
      padding: 0;
      width: $content-width-s;
    }

    &:not(:first-child) {
      margin-top: 40px;

      @include mq(md) {
        margin-top: 64px;
      }
    }
  }

  &-img {
    @include mq(md) {
      width: 50%;
      // 画面サイズによって要素を縮小しない
      flex-shrink: 0;
    }
  }

  &-info {
    margin-top: 16px;
    padding: 0 18px;

    @include mq(md) {
      margin-top: 0;
      margin-left: 48px;
      padding: 0;
    }
  }

  &-description {
    margin-top: 16px;
  }

  &-button {
    margin-top: 24px;
    text-align: center;

    @include mq(md) {
      text-align: left;
    }
  }
}
/// ------------------------
// Product > instagram
// ------------------------

.top-product-instagram {
  margin-top: 64px;

  @include mq(md) {
    margin-top: 104px;
  }

  &-inner {
    color: $font-white;
    background-color: $bg-primary;
    padding: 40px 16px;

    @include mq(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 64px 0;
    }
  }

  &-text {
    font-size: 18px;
    line-height: 2;
    text-align: center;
    padding-left: 0.08em;

    @include mq(lg) {
      font-size: 20px;
      width: 50%;
      flex-shrink: 0;
    }

    & > span {
      display: block;
    }
  }

  &-button {
    margin-top: 32px;
    text-align: center;

    @include mq(lg) {
      margin-top: 0;
      margin-left: 48px;
      text-align: left;
      width: 50%;
    }
  }
}

/// ------------------------
// Product > instagram
// ------------------------
.top-showroom {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    gap: 24px;
    overflow-x: scroll;

    // スクロールバー非表示
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
      overflow-x: visible;
    }

    @include mq(lg) {
      gap: 60px;
    }
  }

  &-title {
    margin-top: 16px;
  }

  &-button {
    margin-top: 16px;
  }
}
