@use "../globals" as *;
@use "../parts/common" as *;

.logo {
  width: 160px;
  margin: 0 auto;

  @include mq(md) {
    width: 240px;
  }
}
.header {
  width: 100%;
  height: 100px;

  @include mq(md) {
    height: 140px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
}

.concept {
  position: relative;
  background-image: url(../images/bg-top-concep.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // &__treeがはみ出るのを防止
  overflow: hidden;
  color: $font-white;
  @extend .pt-md;
  @extend .pb-md;

  &__tree {
    position: absolute;
    width: 40%;
    bottom: -3%;
    right: 0;

    @include mq(md) {
      width: 19%;
    }
  }
  &__inner {
    @extend .content-width;

    // &__treeを下にするため
    position: relative;
    z-index: 1;
  }

  &__texts {
    @extend .mb-md;
  }

  &__text {
    @extend .font-txt;
    text-align: center;
  }

  &__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2em;
  }
  &__item {
    margin: 0 auto;
    width: 43%;

    @include mq(md) {
      width: 20%;
    }
  }
}

.product {
  background-color: $bg-primary-light;
  @extend .pt-md;
  @extend .pb-md;

  &__title {
    color: $font-primary;
  }

  &__inner {
    @include mq(md) {
      width: 90%;
      max-width: $contentMaxWidth;
      margin: 0 auto;
    }
  }

  &__item {
    @extend .mb-sm;
    display: flex;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__img {
    width: 100%;

    @include mq(md) {
      width: 47%;
    }
  }

  &__texts {
    @extend .font-txt;
    width: 90%;
    margin: 2em auto;

    @include mq(md) {
      width: 47%;
      margin: 0 auto;
    }
  }

  &__name {
    text-align: start;
    color: $font-black;
  }
  &__text {
    margin-bottom: 18px;
    @include mq(md) {
      margin-bottom: 17px;
    }

    @include mq(lg) {
      margin-bottom: 43px;
    }
  }

  &__btn {
    @extend .btn-brown;
  }
}

.insta {
  @extend .mt-md;
  width: 100%;

  color: $font-white;
  @extend .pt-md;
  @extend .pb-md;
  background-color: $bg-primary;

  @include mq(md) {
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
  }

  &__inner {
    @extend .flex;
    justify-content: space-evenly;
    gap: 1.4em;

    @include mq(md) {
      gap: 0;
    }

    align-items: center;
    line-height: 2;
  }

  &__title {
    @include mq(md) {
      width: 47%;
    }
  }

  & h2 span {
    display: block;
  }

  &__btn {
    @extend .btn-white;

    &-cover {
      @include mq(md) {
        width: 47%;
        margin: 2em auto;
      }
    }
  }
}

.sr {
  @extend .pt-md;
  @extend .pb-md;
  @extend .content-width;

  &__title {
    color: $font-primary;
  }

  &__inner {
    display: flex;
    gap: 1.3em;
    overflow: scroll;
    @extend .mt-md;
  }

  &__item {
    width: 90%;
  }

  &__img {
    @extend .mb-sm;
  }

  &__name {
    letter-spacing: 0.04em;
    color: $font-black;
  }

  &__btn {
    @extend .btn-brown;
  }
}

.online {
  @extend .pt-md;
  @extend .pb-md;
  background-image: url(../images/bg-top-online-shop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $font-white;
  display: flex;
  flex-direction: column;

  &__btn {
    @extend .btn-clear;
  }
}

.company {
  @extend .pt-md;

  font-family: "Noto Serif JP", sans-serif;

  &__inner {
    text-align: center;
    @extend .pb-md;
  }

  &__text {
    @extend .font-txt;
    margin: 34px 0;
  }

  & ul {
    padding-left: 0;
  }

  &__sns {
    letter-spacing: 0.05em;
    @extend .flex;
    gap: 0.4em;
    font-weight: 600;
    justify-content: center;

    @include mq(md) {
      gap: 2em;
    }
  }

  &__sns-li {
    & > a {
      color: $font-base;
    }
  }

  &__map {
    width: 100%;
    height: 360px;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.footer {
  background-color: $bg-primary;
  color: $font-white;
  @extend .pt-sm;
  @extend .pb-sm;

  &__copy {
    font-family: "Noto Serif JP", sans-serif;
    font-size: 12px;
    text-align: center;
  }
}
