@use "../globals" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Noto+Serif+JP&display=swap");

body {
  font-family: $font-family-base;
  color: $font-base;
  line-height: 1.75;
  // 中央配置の場合はpadding-left: 0.08emを追加
  letter-spacing: 0.08em;
  font-size: 14px;

  @include mq(md) {
    font-size: 16px;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
}
