@use "../globals" as *;

.btn {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 1000px;
  border: none;
  width: 270px;
  height: 50px;

  @include mq(md) {
    width: 320px;
    height: 55px;
  }
}
