@use "../globals" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Noto+Serif+JP&display=swap");

body {
  font-family: "Montserrat", "Noto Serif JP", sans-serif;
  line-height: 1.75;
  color: $font-base;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
}

// ------------------------
// Layout
// ------------------------
.mb-sm {
  margin-bottom: 18px !important;
}

.mt-md {
  margin-top: 64px;
  @include mq(md) {
    margin-top: 104px !important;
  }
}

.mb-md {
  margin-bottom: 64px;
  @include mq(md) {
    margin-bottom: 104px !important;
  }
}

.mb-lg {
  margin-bottom: 80px !important;

  @include mq(lg) {
    margin-bottom: 150px !important;
  }
}

.pt-sm {
  padding-top: 16px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}

.pt-md {
  padding-top: 64px;
  @include mq(md) {
    padding-top: 104px !important;
  }
}

.pb-md {
  padding-bottom: 64px;
  @include mq(md) {
    padding-bottom: 104px !important;
  }
}

.pb-lg {
  padding-bottom: 80px !important;

  @include mq(lg) {
    padding-bottom: 150px !important;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.flex {
  display: flex;
  flex-direction: column; // 縦

  @include mq(md) {
    flex-direction: row; // 横並び
    flex-wrap: wrap; // 横並びに入り切らない要素は折り返す
  }
}

// ------------------------
// Font Size
// ------------------------
.font-txt {
  font-size: 14px;

  @include mq(md) {
    font-size: 16px;
  }
}

.font-header2 {
  font-size: 18px;

  @include mq(md) {
    font-size: 32px;
  }
}

.font-header3 {
  font-size: 18px;

  @include mq(md) {
    font-size: 20px;
  }
}

.font-btn {
  font-size: 16px;

  @include mq(md) {
    font-size: 18px;
  }
}

// ------------------------
// Title
// ------------------------
.h2-title {
  @extend .font-header2;
  display: block;
  @extend .mb-sm;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3em;
}

.h3-title {
  @extend .font-header3;
  @extend .mb-sm;
  text-align: center;
}

// ------------------------
// Button
// ------------------------
.btn-brown {
  color: $font-white;
  background-color: $bg-primary;
}

.btn-white {
  color: $font-black;
  background-color: $bg-white;
}

.btn-clear {
  color: $font-white;
  background-color: transparent;
  border: 1px solid $font-white;
}
